name: camera2
description: Dup of camera package with Landscape support. A Flutter plugin for controlling the camera. Supports previewing
  the camera feed, capturing images and video, and streaming image buffers to
  Dart.
repository: https://github.com/aramikg/flutter-camera
issue_tracker: https://github.com/aramikg/flutter-camera/issues
version: 0.10.5+55

environment:
  sdk: ">=2.19.0 <4.0.0"
  flutter: ">=3.7.0"

flutter:
  plugin:
    platforms:
      android:
        default_package: camera_android
      ios:
        default_package: camera_avfoundation2
      web:
        default_package: camera_web

dependencies:
  camera_android: ^0.10.7
  camera_avfoundation2: ^0.9.13+64
  camera_platform_interface2: ^2.6.0+1
  camera_web: ^0.3.1
  flutter:
    sdk: flutter
  flutter_plugin_android_lifecycle: ^2.0.2
  quiver: ^3.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  mockito: 5.4.1
  plugin_platform_interface: ^2.0.0
  video_player: ^2.0.0

topics:
  - camera
